html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    height: 86px;
}

.container {
    width: 100%;
    font-size: 12px;
    line-height: 23px;
    max-width: 1230px;
    margin: 0 auto;
    overflow: auto;
}

.container-sm {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    overflow: auto;
}

.fa.fa-home {
    font-size: 22px;
    color: #524B9A;
}

nav {
    width: 540px;
    float: left;
    overflow: auto;
    padding: 30px;
}

.logo-wrap {
    background-color: #F55F39;
    width: 158px;
    height: 98px;
    padding: 10px 0px;
    text-align: center;
    float: left;
}

nav ul li {
    float: left;
}

.header-form {
    float: right;
    padding: 17px;
    max-width: 390px;
    width: 100%;
}

.header-form label {
    border: 2px solid #E0E0E0;
    float: left;
    display: block;
    height: 38px;
    max-width: 240px;
    width: 100%;
    border-radius: 2px 0px 0px 2px;
    position: relative;
}

.header-form button {
    background: #B8BDC9;
    border-radius: 0px 3px 3px 0px;
    border: none;
    color: white;
    padding: 10.5px 45px;
    font-size: 14px;
    line-height: 21px;
}

.header-form input {
    height: 36px;
    border: none;
    background: white;
    box-sizing: content-box;
    position: relative;
    padding-left: 40px;
}

input::placeholder {
    color: #E0E0E0;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    padding: 20px;
}

.header-form label::before {
    content: "";
    height: 27px;
    width: 24px;
    background: url(../img/search-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 10;
    left: 11px;
    top: 5px;
}

nav li a {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    margin-right: 30px;
}

.welcome-section {
    background: url(../img/background-header.jpg);
    padding: 170px 0px;
    background-size: cover;
    background-position: bottom right;
    color: #444;
    
}

.welcome-section h1 {
    font-size: 49px;
    line-height: 65px;
    width: 555px;
    margin-bottom: 7px;
}

.welcome-section h1 span:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 4px;
    background: #2BCA8B;
}

.welcome-section h1 span {
    color: #2BCA8B;
    padding-right: 8px;
    position: relative;
}

.welcome-section p {
    font-size: 19px;
    line-height: 37px;
    width: 560px;
    margin-bottom: 85px;
}

.welcome-btn {
    color: white;
    font-size: 23px;
    line-height: 23px;
    float: left;
    width: 210px;
    text-align: center;
    padding: 12px 0px 0px 0px;
}

.welcome-btn span {
    font-size: 14px;
    line-height: 23px;
    display: block;
    padding-top: 8px;
}

.welcome-btn.btn-orange {
    background: #F55F39;
    width: 210px;
    height: 60px;
}

.welcome-btn.btn-white {
    background: white;
    color: #4D4D4D;
    margin-left: 15px;
    width: 255px;
    height: 60px;
}

